{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs":"3",
        "targets": {
          "node": "12.19.0"
        }
      }
    ]
  ],
  "compact": true,
  "comments": false,
  "sourceMaps": true
}
